{% extends "layouts/layout.html" %} {% load static %} {% block title %} MADE IN
CHACO | Contenido {% endblock %} {% block content %}

<div class="contenedor">
  <main>
    <div class="cuerpo">
      <div class="contenido">
        <h3></h3>
        <hr />

        <div>
          <figure class="contenido-unico">
            <h4>{{contenido.titulo}}</h4>
            <img
              src="{{contenido.imagen.url}}"
              alt="{{contenido.titulo}}"
              loading="lazy"
            />
            <div>
              <p class="subtitulo">{{contenido.subtitulo}}</p>
              <p class="texto-cuerpo">{{contenido.cuerpo}}</p>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
