{% extends "layouts/layout.html" %} {% load static %} {% block title %} MADE IN
CHACO | Contenido {% endblock %} {% block content %} {% load cloudinary %}

<div class="contenedor">
  <main>
    <div class="cuerpo">
      <div class="contenido">
        <h3>{{object.titulo}}</h3>
        <hr />

        <div>
          <figure class="contenido-unico">
            <img
              src="{{object.imagen.url}}"
              alt="{{object.titulo}}"
              loading="lazy"
            />
            <div>
              <p class="subtitulo">{{object.subtitulo}}</p>
              <p class="texto-cuerpo">{{object.cuerpo}}</p>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
