{% extends "layouts/layoutindex.html" %} {% load static %} {% block title %}
MADE IN CHACO | Experiencia {% endblock %} {% block content %}

<div class="ingreso opacidad">
  <div class="titulo-ingreso foco">
    <h1 translate="no">
      MADE IN <br />
      CHACO
    </h1>
  </div>
</div>

<div class="flex mich">
  <nav class="menu-superior">
    <ul class="redes index">
      <li>
        <a href=""><i class="icono fab fa-facebook-square"></i></a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/madeinchacoargentina/?hl=es-la"
          target="_blank"
          ><i class="icono fab fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href=""><i class="icono fab fa-twitter-square"></i></a>
      </li>
    </ul>
  </nav>
  <main>
    <div class="contenedor-mich">
      <h1>SITIO EN CONSTRUCCIÓN</h1>
      <h2>ESTAMOS TRABAJANDO</h2>
      <button><a href="/">MENÚ PRINCIPAL</a></button>
    </div>
  </main>
  <footer class="footerIndex">
    <p>Sitio oficial <span translate="no">Made in Chaco</span> &copy; 2021</p>
  </footer>
</div>

{% endblock %}
