{% extends "layouts/layoutindex.html" %} {% load static %} {% block content %}

<div class="ingreso opacidad">
  <div class="titulo-ingreso foco">
    <h1 translate="no">
      MADE IN <br />
      CHACO
    </h1>
  </div>
</div>
<div class="flex">
  <nav class="menu-superior-index">
    <ul class="redes index">
      <li>
        <a href=""><i class="icono fab fa-facebook-square"></i></a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/madeinchacoargentina/?hl=es-la"
          target="_blank"
          ><i class="icono fab fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href=""><i class="icono fab fa-twitter-square"></i></a>
      </li>
    </ul>
  </nav>
  <main>
    <div class="contenedor-index">
      <div class="titulo">
        <h1 translate="no">
          MADE IN <br />
          CHACO
        </h1>
      </div>
      <nav class="navegador">
        <ul class="slide-up">
          <li><a href="/proyecto">PROYECTO</a></li>
          <li><a href="/contenido">CONTENIDO</a></li>
          <li><a href="/recorrer">RECORRER</a></li>
          <li><a href="/contacto">CONTACTO</a></li>
        </ul>
      </nav>
    </div>
  </main>
  <footer class="footerIndex">
    <p>Sitio oficial <span translate="no">Made in Chaco</span> &copy; 2021</p>
  </footer>
</div>

{% endblock %}
