{% extends "layouts/layout.html" %}
{% load static %}
{% block title %} MADE IN CHACO | Proyecto {% endblock %}
{% block content %}
<div class="contenedor">
    <main>
        <div class="cuerpo">
            <div class="proyecto">
                <h3>PROYECTO</h3>
                <hr>
                <div class="explicativo">
                    
                </div>
                <div class="contenido-proyecto">
                    <div id="introduccion" class="introduccion" data-aos="zoom-in">
                        <h4>INTRODUCCIÓN</h4>
                        <p>
                            <span>Made in Chaco (MICH)</span> es una plataforma cultural interactiva
                            donde el espectador puede recorrer a través de las herramientas tecnológicas la historia
                            de una región con todo lo que a la misma la conforma.
                            <br>
                            Quien acceda a la plataforma recorrerá la región como una experiencia en el espacio.
                        </p>
                    </div>
                    <div id="objetivos" class="objetivos" data-aos="zoom-in">
                        <h4>OBJETIVOS</h4>
                        <ul>
                            <li>Apoyo a la cultura popular / cultura local</li>
                            <li>Preservar la Identidad Nacional</li>
                            <li>Neutralizar los impactos negativos de la globalización en nuestra región</li>
                            <li>Relación persona / espacio desde la cultura</li>
                            <li>Revalorizar el rol de la Cultura en la sociedad</li>
                            <li>Lograr el reconocimiento del arte en la cultura</li>
                            <li>Entender el cine como forma de cultura</li>
                        </ul>
                    </div>
                    <div id="antecedentes" class="antecedentes" data-aos="zoom-in">
                        <h4>ANTECEDENTES</h4>
                        <p>
                            Jorge Castillo, primer realizador audiovisual pero también quien en una investigación y
                            escritura de un libro realizó la suerte de compartir historia cultural regional. <br>
                            Fernando Irigaray, desde Rosario con su investigación sobre los documentales
                            web/interactivos.
    
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
    </main>
    </div>
{% endblock %}