{% extends "layouts/layout.html" %}
{% load static %}
{% block title %} MADE IN CHACO | Recorrer {% endblock %}
{% block content %}

<div class="contenedor">
    <main>
        <div class="cuerpo">
            <div class="ubicacion">
                <h3>RECORRER</h3>
                <hr>
                <div class="explicativo">
                    <p>En este mapa brindado podrá tener a su alcance ciudades, parques provinciales, parques nacionales, museos, ruinas y sitios de interés general.</p>
                    <p> <span>¡A disfrutar! </span> </p>
                </div>
                <iframe class="mapa"
                    src="https://www.google.com/maps/d/u/1/embed?mid=1ps0LW0KOBf_nB6lj5iYPJzhmOrgHQ8p5" loading="lazy"></iframe>
            </div>
        </div>
    </main>
    </div>

    {% endblock %}